<h2>Name: <%= @action_figure.name %> </h2>
<h2>Description: <%= @action_figure.description %> </h2>
<h2>Price: $<%= @action_figure.price %> </h2>
<img src= <%= @action_figure.image %> >

<a href="/action_figures/<%= @action_figure.id %>/edit" class="btn btn-warning">Edit Action Figure</a>

